:root{
    --main-color:  rgb(255 141 1);
    --color-dark: #1D2231;
    --text-gray: #8390A2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

/* MAIN CONTENT */
.headerPhoto{
    height: 15vh;
    width: auto;
}
.main-content header {
    display: flex;
    background: rgb(255 141 1);
    /* width: 100%; */
    padding: 2%;
    margin-top: 2vh;
}

.main-content header h1{
    color: #222;
    font-weight: bolder;
}
.search{
    padding: 3%;
    width: 30vw;
    border: none;
    text-decoration: none;
    outline: none;
}
/* .button{
    border:none;
	cursor:pointer;
	width:150px;
	height:40px;
	border-radius:5px;
	background:#ff8333;
	color:#fff;
	font-weight:700;
	transition:.5s;
} */
.pet-wrapper button{
	border:none;
	cursor:pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
	background:#ff8333;
	color:#fff;
	font-weight:700;
	transition:.5s;
	margin-bottom:10px;
}
.button-wrapper button{
	border:none;
	cursor:pointer;
	width:150px;
	height:40px;
	border-radius:5px;
	background:#ff8333;
	color:#fff;
	font-weight:700;
	transition:.5s;
	margin-bottom:10px;
}
.bottomSpace{
    margin-bottom: 4vh;
    padding-top: 4vh;
}  
.border{
    margin-left: .1vw;
    border: #222 1px solid;
    width: fit-content;
    border-radius: 10px;
}
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}


  /* CARD */
  .pet-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 14vw;
    padding: 2%;
    background-color: #ff964f;
    border: #222 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
  }
  .red{
    color: red;
  }
  .rowCard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .pet-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
  }
  
.headerBG{
    background:#ff8333;
	color:#fff;
}
.pet-card a{
    text-decoration: none;
    color: black;
}
.pet-card b{
    color: black;
}
.pet-card img{
   /* border: #222 solid; */
   width: 100%;
   height: auto;
   aspect-ratio: 3/2;
   object-fit: contain;
}
.pet-card a:hover{
    text-decoration: none;
    color: #ff8333;
    ;
}
.h6{
    font-weight: bolder;
} 

/* PROFILE */
.bold{
    font-weight: bold;
    margin-right: 1vw;
}
.font{
    font-size: 3vh;
}
.orange{
    height: 33vh;
    background-color: #009231;
}

.picture{
    width: 20%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.solid{
    border: black solid;
}
.rightline{
    border-right: black solid;
}
.borderLine{
    border: black solid;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marginTop{
    margin-top: 10vh;
}
.petName{
    color: white;
    font-size: 5vw;
    font-weight: bolder;
    margin-top: 4vh;
    text-transform: uppercase;
}
.vaccine{
    font-size: 3vw;
    font-weight: bolder;
    /* margin-top: 4vh; */
} 
.petId{
    color: white;
    font-weight: bolder;
}
.paddingBottom{
    padding-bottom: 10vh;
}
.none{
    border-top: none;
}
.normal tr{
    font-weight: normal;
}
.col-auto {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* DELETE MODAL */
.delete-icon{
    font-size: 6rem !important;        
    color: red;
    
}
.delete-modal{
    background-color: red;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: center;
    max-height: 91vh;
    overflow: hidden;
    
}
.delete-header{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: .25rem;
    margin-top: .5rem;
    margin-left: 1rem;
}
.delete-button{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: black;
    
    padding: 0 1.5rem 0 1.5rem;
    border: 2px solid black;
    background: none;
    box-sizing: border-box;
    border-radius: 3px;
    text-transform: uppercase;
}
.delete-button:hover {
    color: white;
    background: red;
}